<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Restaurantly Bootstrap Template - Index</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../assets/img1.jpeg" rel="icon" />
    <link href="../assets/img10.jpeg" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
      <div
        class="container d-flex justify-content-center justify-content-md-between"
      >
        <div class="contact-info d-flex align-items-center header_wrapper">
          <a target="_blank" href="tel:9325514220"
            ><i class="bi bi-phone d-flex align-items-center"
              ><span>+91 9325514220</span></i
            ></a
          >
          <a
            href="https://www.facebook.com/profile.php?id=100094045785294&mibextid=ZbWKwL"
            target="_blank"
            class="facebook"
            ><i class="bi bi-facebook"></i
          ></a>

          <a
            href="instagram://user?username=alohafamilysalonand"
            target="_blank"
            class="instagram"
            ><i class="bi bi-instagram"></i
          ></a>
          <a
            href="https://www.google.com/maps/search/?api=1&query=18.607821,73.911157"
            target="_blank"
            class=""
            ><i class="bi bi-geo-alt"></i
          ></a>

          <a
            href="whatsapp://send?text=Hello! Please contact me on whatsapp&phone=+919325514220"
            target="_blank"
            class=""
            ><i class="bi bi-whatsapp"></i
          ></a>

          <a target="_blank" href="tel:9325514220" class=""
            ><i class="bi bi-telephone-fill"></i
          ></a>
          <!-- </div> -->
        </div>
      </div>
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-cente">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-lg-between"
      >
        <h1 class="logo me-auto me-lg-0">
          <a href="index.html">ALOHA FAMILY SALON & SPA</a>
        </h1>
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div
        class="container position-relative text-center text-lg-start"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="row">
          <div class="col-lg-8">
            <p>
              <span class="time_wrapper">Monday - Sunday </span>: 11 AM - 8:30
              PM
            </p>
            <h1>Welcome to <span>Aloha Spa</span></h1>
            <h2>Stress-free life starts here.</h2>

            <div class="btns">
              <a href="#menu" class="btn-menu animated fadeInUp scrollto"
                >Our Menu</a
              >
            </div>
          </div>
          <div
            class="col-lg-4 d-flex align-items-center justify-content-center position-relative"
            data-aos="zoom-in"
            data-aos-delay="200"
          ></div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div
              class="col-lg-6 order-1 order-lg-2"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="about-img">
                <img src="../../assets/images/img_1.jpg" alt="" />
              </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>
                Our priority is our clients’ overall health and well-being. We
                offer a comprehensive variety of services.
              </h3>
              <p class="fst-italic">
                experience rejuvenation and relaxation that so many women over
                the years have come to discover.
              </p>
              <ul>
                <li>
                  <i class="bi bi-check-circle"></i> Aromatherapy massage is
                  used for a variety of different reasons, including relaxation,
                  pain management, and improved mood.
                </li>
                <li>
                  <i class="bi bi-check-circle"></i> Swedish massage may loosen
                  up tight muscles caused by daily activities such as sitting at
                  the computer or exercising. It can be very helpful for people
                  who hold a lot of tension in their : lower back , Shoulders ,
                  Neck.
                </li>
                <li>
                  <i class="bi bi-check-circle"></i> Deep tissue massage offers
                  both physical and psychological benefits. It can relieve
                  muscle pain and stiffness and provide stress-relieving
                  relaxation for the body and mind.
                </li>

                <li>
                  <i class="bi bi-check-circle"></i>Deep tissue massage and
                  Swedish massage are two different types of massage therapy.
                  Both use some of the same strokes, but they have different
                  uses and vary greatly when it comes to the amount of pressure
                  used.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Why Us Section ======= -->
      <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Why Us</h2>
            <p>Why Choose Our Spa</p>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <div class="box" data-aos="zoom-in" data-aos-delay="100">
                <span>01</span>
                <h4>Young Staff</h4>
                <p>Good looking and young slim fit staff available here</p>
              </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="box" data-aos="zoom-in" data-aos-delay="200">
                <span>02</span>
                <h4>Customer Service</h4>
                <p>
                  We staff plenty of artists and therapists during peak periods
                  to make sure you're never waiting and so we can accommodate
                  walk-ins.
                </p>
              </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="box" data-aos="zoom-in" data-aos-delay="300">
                <span>03</span>
                <h4>Price</h4>
                <p>We offer less price comapare to other.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Why Us Section -->

      <!-- ======= Menu Section ======= -->
      <section id="menu" class="menu section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Menu</h2>
            <p>Check Our Menu</p>
          </div>

          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="menu-flters">
                <li
                  *ngFor="let item of menuOption"
                  (click)="selectedMenu(item.key)"
                  ngClass="{{
                    selectedMenuOption == item.key ? 'selectedMenu ' : ''
                  }}"
                >
                  {{ item.name }}
                </li>
              </ul>
            </div>
          </div>

          <div
            class="row menu-container"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div
              class="col-lg-6 menu-item filter-Aroma Oil Massage"
              *ngFor="let menu of allMassage"
            >
              <img src="{{ menu.img }}" class="menu-img" alt="" />
              <div class="menu-content">
                <a href="#Aroma Oil Massage">{{ menu.name }}</a
                ><span>{{ menu.price }}/-</span>
              </div>
              <div class="menu-ingredients">{{ menu.time }} minutes only</div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Menu Section -->

      <!-- ======= Gallery Section ======= -->
      <section id="gallery" class="gallery">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Gallery</h2>
            <p>Some photos</p>
          </div>
        </div>

        <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
          <div class="row g-0">
            <div class="col-lg-4 col-md-4" *ngFor="let img of gallaryImages">
              <div class="gallery-item">
                <a
                  href="{{ img }}"
                  class="gallery-lightbox"
                  data-gall="gallery-item"
                >
                  <img src="{{ img }}" alt="" class="img-fluid" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Gallery Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Us</p>
          </div>
        </div>

        <div data-aos="fade-up">
          <div style="width: 100%">
            <iframe
              width="100%"
              height="600"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=18.607821,73.911157+(Aloha%20spa%20and%20sallon)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              ><a href="https://www.maps.ie/distance-area-calculator.html"
                >measure area map</a
              ></iframe
            >
          </div>
        </div>

        <div class="container" data-aos="fade-up">
          <div class="info">
            <div class="row">
              <div class="col-md-4">
                <i class="bi bi-geo-alt"></i>
                <h4>Location :</h4>
                <p>
                  Off.No. 102, Second Floor, Hare Krishna Niwas,<br />
                  Porwal Road, Ready Dmart opposite to Abhilasha Society,
                  Dhanori Jakat Naka , Lohgaon - 411047
                </p>
              </div>

              <div class="col-md-4">
                <i class="bi bi-clock"></i>
                <h4>Open Hours :</h4>
                <p>Monday - Sunday: 11.00 AM - 8:30 PM</p>
              </div>

              <div class="col-md-4">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>
                  <a
                    target="_blank"
                    href="mailto:alohafamilysalonandspa@gmail.com?Subject=please contact me on mail"
                    >alohafamilysalonandspa@gmail.com</a
                  >
                </p>
              </div>
            </div>
          </div>

          <br />
          <br /><br />

          <div
            class="container d-flex justify-content-center justify-content-md-between"
          >
            <div class="contact-info d-flex align-items-center contact_wrapper">
              <a
                href="https://www.facebook.com/profile.php?id=100094045785294&mibextid=ZbWKwL"
                target="_blank"
                class="facebook"
                ><i class="bi bi-facebook"></i
              ></a>

              <a
                href="instagram://user?username=alohafamilysalonand"
                target="_blank"
                class="instagram"
                ><i class="bi bi-instagram"></i
              ></a>
              <a
                href="https://www.google.com/maps/search/?api=1&query=18.607821,73.911157"
                target="_blank"
                class=""
                ><i class="bi bi-geo-alt"></i
              ></a>

              <a
                href="whatsapp://send?text=Hello! Please contact me on whatsapp&phone=+919325514220"
                target="_blank"
                class=""
                ><i class="bi bi-whatsapp"></i
              ></a>

              <a target="_blank" href="tel:9325514220" class=""
                ><i class="bi bi-telephone-fill"></i
              ></a>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->
  </body>
</html>
